* {

  box-sizing: border-box;
  padding: 0;
  margin: 0;

}

html {
  font-size: 62.5%;

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-image: url(../imagenes-jpg/big-train.png);
  background-size:cover;
}

body::-webkit-scrollbar {
  display: none;
}
 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media (max-width: 2298px) {
  body {
    background-image: url(../imagenes-jpg/medium-train.png);
    background-size:auto;
  }
}
