.delete {
    position: absolute;
    top: -25px;
    right: 10px;
    font-weight: bold;
    font-size: 3.5rem;
}

.delete:hover .Icon-svg{
    fill: red;
    cursor: pointer;;
}

.complete {
    cursor: pointer;
    font-weight:500;
}

.complete:hover .Icon-svg{
    fill: green;
}

.Icon-svg {
    width: 24px;
    height: 24px;
}
